{% extends "admin/base.html" %}

{% block title %}Dashboard - Admin Title{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 grid-margin">
            <!-- {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
             {% for category, message in messages %}
               <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
               {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
             {% endfor %}
              {% endif %}
            {% endwith %} -->
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-xl-0">
        <h3 class="fw-bold">Welcome {{ session.admin_username}}</h3>
       
        <h6 class="fw-normal mb-0">All systems are running smoothly! You have <span class="text-info">3 unread
            alerts!</span></h6>
      </div>
   
    </div>
  </div>
</div>






{% endblock %}